 /* .icon_wrapper {
    background-color: inherit;
 }

  */


/* .arrow_down_icon path {
    fill: secondary;
} */

/* .check_icon {
    background-image: url(../../../images/Check.svg);
} */

/* * {
    box-sizing: border-box;
} */